body {
  background-color: #303030;
  color: orange;
  margin: 0;
  padding: 0;
  transition: 1s;
}

h1 {
  font-size: 3em;
  margin: auto;
  transition: 1s;
}

h2 {
  color: darkorange;
  font-size: 1.3em;
  transition: 1s;
}

h3 {
  color: darkorange;
  font-size: 1.1em;
  margin: 15px 0 0 0;
  transition: 1s;
}

figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 230px;
  border: 2px solid orange;
}

.profileimg {
  max-width: 300px;
}

.clickable {
  cursor: pointer;
}

.header {
  display: flex;
  margin: 20px;
}

.headertext {
  margin: auto 30px;
  padding: 30px;
}

.main {
  display: flex;
  margin: 20px;
  border: 2px solid orange;
}

.main-col {
  flex: 50%;
}

.list1, h2 {
  margin: 20px 20px 20px 40px;
  padding-left: 10px;
}

.list2 {
  margin: 15px 0 0 0;
  padding-left: 0;
}

.hasBorder {
  transition: border 1s;
}

.themeSwitcher {
  max-height: 30px;
  max-width: 100px;
  background-color: #303030;
  color: orange;
  cursor: pointer;
  border: 5px solid darkorange;
  border-right: 0 solid transparent;
  border-radius: 10px 0 0 10px;
  position: fixed;
  padding: 6px;
  right: 0;
  top: 100px;
  transition: 1s;
}

.themeSwitcher:hover {
  border: 5px solid white;
  border-right: 0 solid transparent;
  border-radius: 10px 0 0 10px;
}

/*

#circ {
  animation: 
} 

*/