body {
    background-color: #303030;
    color: orange;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: auto;
}

h2 {
    color: darkorange;
    font-size: 1.2em;
    margin: auto;
}

.header {
    display: flex;
    margin: 20px;
}

.headertext {
    margin: auto 30px;
    padding: 30px;
}

.profileimg {
    max-width: 300px;
    border: solid 2px orange;
}

.main {
    margin: 20px;
    border: 2px double orange;
}

.main ul, h2 {
    margin: 15px;
}

.main ul li {
    margin: 5px;
}